<div class="page-container">
  <div class="content-section">
    <h1 class="page-form-title"><%= @post.title %></h1>
    <div class="blog-meta" style="color:#666;font-size:1.4rem;margin-bottom:2rem;">
      <%= @post.published_at&.strftime("%b %d, %Y") %>
      <% unless @post.published? %>
        <span style="color:#d32f2f;font-weight:500;">(Unpublished)</span>
      <% end %>
    </div>
    <div class="blog-body" style="margin-bottom:2rem; font-size:1.25rem; line-height:1.7;">
      <%= markdown(@post.body).html_safe %>
    </div>
    <div class="form-actions">
      <%= link_to "Back", blog_root_path, class: "btn secondary small" %>
    </div>
  </div>
</div>