<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-col">
      <h4>Community</h4>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/petrickwerner01/" target="_blank" rel="noopener">LinkedIn</a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Follow Along</h4>
      <ul>
        <li><%= link_to "Blog", blog_root_url(subdomain: "blog"), target: "_blank", rel: "noopener" %></li>
        <li><%= link_to "About Wizzle", about_path, rel: "noopener" %></li>
        <li><%= link_to "Request a Feature", feature_requests_path, rel: "noopener" %></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>We're Here to Help</h4>
      <ul>
        <li><a href="#">Frequently Asked Questions</a></li>
        <li><%= link_to "Roadmap", roadmap_path, rel: "noopener" %></li>
      </ul>
    </div>
  </div>
</footer>