<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-col">
      <h4>Community</h4>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/petrickwerner01/" target="_blank" rel="noopener">LinkedIn</a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Follow Along</h4>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About Wizzle</a></li>
        <li><a href="/feature-request">Request a Feature</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>We're Here to Help</h4>
      <ul>
        <li><a href="/faq">Frequently Asked Questions</a></li>
        <li><a href="/roadmap">Roadmap</a></li>
      </ul>
    </div>
  </div>
</footer>